@import "nevvi.scss";
a {
    color: map-get($colors, blue);
    .router-link-active {
        color: #f66;
    }
}
li.router-link-active a {
    color: #f66;
}
body {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.toggle-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e7e9f0ec;
    min-width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(167, 167, 167);


    .toggle-menu-item {
        padding: .5rem;
        color: rgb(77, 77, 77);
        cursor: pointer;

        &:hover {
            background-color: rgba(51, 51, 51, 0.178);
            ;
        }
    }
}



.sideBar-menu-item {
    padding: .5rem 2rem .5rem .5rem;
    color: white;
    border-bottom: 1px solid map-get($map: $colors, $key: blue);

    &:hover {
        padding: .5rem 1.5rem .5rem 1rem;
    }
}

.communication {
    text-align: center;
    color: map-get($map: $colors, $key: blue);
}

.cat-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .cat-item {
        position: relative;
        margin: .5rem;
        background-color: map-get($map: $colors, $key: white);
        border-radius: 6px;
        color: map-get($map: $colors, $key: blue);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.123);
        cursor: pointer;

        .item {
            padding: 1rem;
            display: flex;
            vertical-align: middle;
            span {
                vertical-align: middle;
                display: block;
                margin: auto 0;
                &:nth-child(2) {
                    /* Запрещаем перенос строк */
                    white-space: nowrap;
                    overflow: hidden;
                    /* Обрезаем все, что не помещается в область */
                    text-overflow: ellipsis;
                }
            }

            &:hover {
                background: rgba(224, 224, 224, 0.247);
            }

            .cat-item-icon {
                background-color: map-get($map: $colors, $key: success);
                color: map-get($map: $colors, $key: white);
                border-radius: 4px;
                padding: .2rem .3rem;
                margin-right: .5rem;
            }

        }

        .cat-item-dropDown {
            z-index: 100;
            position: absolute;
            top: 90%;
            left: -1px;
            background-color: #fff;
            width: 100%;
            border-radius: 0 0 6px 6px;
            border-top: 1px solid map-get($map: $colors, $key: success);
            border: 1px solid rgba(map-get($map: $colors, $key: success), .2);

            .cat-item-dropDown-item {
                padding: .5rem;

                &:hover {
                    background-color: rgba(238, 224, 224, 0.39);
                    border-right: 2px solid map-get($map: $colors, $key: success);
                }
            }
        }
    }
}





.partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    
    &-title {
        padding: .5rem 1rem;
        color: #364c9f;
        font-size: 2rem;
        font-weight: 100;
    }
    
    .partner {
        cursor: pointer;
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        background-color: #f1f1f1;
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.432);
        transition: .3s;
        &:hover {
            box-shadow: 0 0 10px rgb(33, 59, 172);
        }
    }

}


.breadcrumb {
    display: flex;
    .dot {
        vertical-align: bottom;
        font-size: 1.5rem;
        color: rgba(map-get($map: $colors, $key: blue ), .6);
        margin: 0 .5rem;
    }
    .crumb {
        cursor: pointer;
        font-size: .8rem;
        font-weight: 600;
        margin: auto 0;
        &:hover {
            text-decoration: underline;
        }
    }
}

.open-publication {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .images {
        border-right: 1px solid #999;
        .show {
            text-align: center;
            .img {
                width: 100%;
            }
        }
        .pick {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            vertical-align: middle;
            img {
                background: white;
                cursor: pointer;
                width: 60%;
                margin-top: auto;
                margin-bottom: auto;
                &:hover {
                    border-color: rgb(128, 128, 128);
                }
            }
        }
    }
}

.profile-user {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;

    
    
    .profile-info {
        font-size: .9rem;
    }

    .status {
        // color: #555;
    }
    &-content {
        display: grid;
        grid-template-columns: auto auto 1fr;
    }
}

// @import "size/1280.scss";
// @import "size/1024.scss";
// @import "size/768.scss";
// @import "size/480.scss";