@import "value.scss";
@import 'row-col/row-col.scss';

*,
::after,
::before {
  box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: left;
    background-color: #fff
}
.f-nevvi {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.f-cap {
    text-transform: capitalize;
}
a {
    color: rgb(51, 76, 155);
    text-decoration: none;
}
.m-0auto {
    margin: 0 auto;
}
.ml-auto {
    margin-left: auto;
}
.mt-auto {
    margin-top: auto;
}
.m-auto {
    margin: auto;
}
.border {
    border: $border; 
}
.border-t {
    border-top: $border;
}
.border-b {
    border-bottom: $border;
}
.border-r {
    border-right: $border;
}
.border-r-none {
    border-right: none;
}
.border-l {
    border-left: $border;
}
.border-l-none {
    border-left: none;
}
.pos-rel {
    position: relative;
}

.cp {
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}

.transition-03 {
    transition: .3s;
}

.transform-270 {
    transform: rotate(270deg);
}
.transform-180 {
    transform: rotate(180deg);
}
.transform-90 {
    transform: rotate(90deg);
}
.transform-0 {
    transform: rotate(0deg);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
  }
  
  @media (min-width:576px) {
    .container {
      max-width: 540px
    }
  }
  
  @media (min-width:768px) {
    .container {
      max-width: 720px
    }
  }
  
  @media (min-width:992px) {
    .container {
      max-width: 960px
    }
  }
  
  @media (min-width:1200px) {
    .container {
      max-width: 1280px
    }
  }

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: 900;
}

.f-mono {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 1.2rem;
}
button {
    padding: .5rem 1rem;
    margin: .3rem;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    border: 1px solid #999;
    cursor: pointer;
    :hover {
        box-shadow: 0 0 4px #000000;
    }
}

.d {
    &-block {
        display: block;
    }
    &-flex {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &-none {
        display: none;
    }
}

.btn {
    padding: .5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 0 4px #00000040;
    height: fit-content;
    width: fit-content;
    border: 1px solid #999;
    cursor: pointer;
    transition: .3s;
    &:hover {
        box-shadow: 0 0 4px #00000060;
    }&:disabled {
        opacity: .6;
        cursor: not-allowed;
    }
    &:focus {
        outline: none;
    }
    &:active {
        box-shadow: inset 0 0 4px #00000060;
    }
    &-circle {
        display: flex;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        &:first-child {
            display: block;
            margin: auto;
            vertical-align: middle;
        }
    }
}

input, textarea, select {
    background: #fff;
    resize: none;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid #00000040;
    box-shadow: 0 0 4px #00000040;
    &:focus {
        outline: none;
        // border-color: map-get($colors, blue );
    }
}

@each $name, $size in $sizing {
    .p-#{$name} {
        padding: $size;
    }

    .py-#{$name} {
        padding-top: $size;
        padding-bottom: $size;
    }

    .px-#{$name} {
        padding-left: $size;
        padding-right: $size;
    }

    .pl-#{$name} {
        padding-left: $size;
    }

    .pr-#{$name} {
        padding-right: $size;
    }

    .pt-#{$name} {
        padding-top: $size;
    }

    .pb-#{$name} {
        padding-bottom: $size;
    }

    .m-#{$name} {
        margin: $size;
    }

    .my-#{$name} {
        margin-top: $size;
        margin-bottom: $size;
    }

    .mx-#{$name} {
        margin-left: $size;
        margin-right: $size;
    }

    .ml-#{$name} {
        margin-left: $size;
    }

    .mr-#{$name} {
        margin-right: $size;
    }

    .mt-#{$name} {
        margin-top: $size;
    }

    .mb-#{$name} {
        margin-bottom: $size;
    }

    .fs-#{$name} {
        font-size: $size;
    }
}

@each $name, $color in $colors {
    .color-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background-color: $color;
    }
    .bg-#{$name}-05 {
        background-color: rgba($color, .5);
    }
    .bg-#{$name}-01 {
        background-color: rgba($color, .1);
    }
    
    .border-#{$name} {
        border-color: $color;
        &:focus{
            border-color: $color;
        }
    }
    .btn-outline-#{$name} {
        border-color: $color;
        background-color: #00000000;
        color: $color;
    }
    .btn-#{$name} {
        background: $color;
        border-color: $color;
        @if $name == warning{
            color: #222;
        } @else if $name == light {
            color: #222;
        } @else if $name == white {
            color: #222;
        } @else{
            color: white;
        }
    }
    .bs-#{$name} {
        box-shadow: 0 0 4px rgba($color, .1);
    }
    .hover-#{$name}:hover {
        background-color: $color;
        @if $name == warning{
            color: #222;
        } @else if $name == light {
            color: #222;
        } @else if $name == white {
            color: #222;
        } @else{
            color: white;
        }
    }
    .hover-#{$name}-05:hover {
        background-color: rgba($color, .5);
        @if $name == warning{
            color: #222;
        } @else if $name == light {
            color: #222;
        } @else if $name == white {
            color: #222;
        } @else{
            color: white;
        }
    }
}
@each $name, $width in $width {
    .w-#{$name} {
        width: $width;
    }
    .h-#{$name} {
        height: $width;
    }
}

.table {
    position: relative;
    border-radius: 4px;
    &-title {
        position: absolute;
        top: -2rem;
        left: .2rem;
        padding: .5rem;
        background: #fff;
        border: 1px solid #00000040;
        border-radius: 2px;
    }
    .row{
        padding: .5rem .5rem .5rem 1rem;
        
        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        &:nth-child(odd) {
            background: #f4f4f4;
        }
        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding-top: 1rem;
            // border-radius: 4px 4px 0 0;
        }
    }
}




.border-radius {
    border-radius: 4px;
}
.br {
    border-radius: 4px;
}
.br-b {
    border-radius: 0 0 4px 4px;
}
.br-t {
    border-radius: 4px 4px 0 0;
}
.br-l {
    border-radius: 4px 0 0 4px;
}
.br-r {
    border-radius: 0 4px 4px 0;
}
.bs{
    box-shadow: 0 0 4px rgba(  map-get($map: $colors, $key: black), .2 );
}
.bs-inset {
    box-shadow: inset 0 0 4px rgba(  map-get($map: $colors, $key: black), .4 );
}
.ts {
    text-shadow: 0px 0px 4px #00000030;
}

.modal {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &-bg {
        cursor: pointer;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: .2);
    }
    &-body {
        box-shadow: inset 0 0 4px #00000050;
        position: absolute;
        background-color: white;
        border-radius: 4px;
        top: 10vh;
        left: 35%;
        right: 35%;
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: none;
        &::-webkit-scrollbar {
            width: 4px;
          }
    
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.507);
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.637);
            outline: 1px solid rgb(0, 0, 0);
          }
        &-lg {
            position: absolute;
            left: 10%;
            top: 10%;
            right: 10%;
        }
    }
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.d-inlineBlock{
    display: inline-block;
}

.text-center {
    text-align: center;
}
.va-bottom {
    vertical-align: bottom;
}



.form-group {
    position: relative;
    label{
        display: flex;
        margin-bottom: .3rem;
        color: map-get($colors, main-1);
    }
    input, textarea {
        width: 100%;
        &:focus {
            outline: none;
        }
    }
}


.form-group-material {
    position: relative;
    label {
        position: absolute;
        top: .6rem;
        left: .3rem;
        color: darken(map-get($colors, light), 60%);
        font-size: .9rem;
        transition: .5s;
        :hover{
            top: -.3rem;
            color: darken(map-get($colors, light), 100%);
        }   
    }
    .nevvi-fg{
        &-textarea {
            width: 100%;
            resize: none;
            height: auto;
            min-height: 100px;
            max-height: 300px;
            border-radius: 4px;
            padding: .5rem;
        }
        &-input {
            padding: .5rem;
            outline: none;
            border: none;
            border-bottom: 1px solid #00000030;
            width: 90%;
            &:focus {
                border-color: map-get($colors, blue );
            }
        }
    }
}

.font-cursive {
    font-family: cursive;
}