@import "value.scss";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.m-0auto {
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}




@each $name,
$padding in $paddings {
    .p-#{$name} {
        padding: $padding;
    }

    .py-#{$name} {
        padding-top: $padding;
        padding-bottom: $padding;
    }

    .px-#{$name} {
        padding-left: $padding;
        padding-right: $padding;
    }

    .pl-#{$name} {
        padding-left: $padding;
    }

    .pr-#{$name} {
        padding-right: $padding;
    }

    .pt-#{$name} {
        padding-top: $padding;
    }

    .pb-#{$name} {
        padding-bottom: $padding;
    }

    .m-#{$name} {
        margin: $padding;
    }

    .my-#{$name} {
        margin-top: $padding;
        margin-bottom: $padding;
    }

    .mx-#{$name} {
        margin-left: $padding;
        margin-right: $padding;
    }

    .ml-#{$name} {
        margin-left: $padding;
    }

    .mr-#{$name} {
        margin-right: $padding;
    }

    .mt-#{$name} {
        margin-top: $padding;
    }

    .mb-#{$name} {
        margin-bottom: $padding;
    }
}

@each $name, $size in $paddings {
    .fs-#{$name} {
        font-size: $size;
    }
}

@each $name, $color in $colors {
    .color-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background-color: $color;
    }
    .border-#{$name} {
        border-color: $color;
    }
    .bs-#{$name} {
        box-shadow: 0 0 4px rgba($color, .4);
    }
    
}
@each $name, $width in $width {
    .w-#{$name} {
        width: $width;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: auto 1fr;
}

.border {
    border: $border; 
}

.border-t {
    border-top: $border;
}
.border-b {
    border-bottom: $border;
}

.border-radius {
    border-radius: 4px;
}

.border-circle {
    border-radius: 100%;
}

.box-shadow{
    box-shadow: 0 0 4px rgba(  map-get($map: $colors, $key: black), .6 );
}
.bs-d{
    box-shadow: 0 4 4px rgba(  map-get($map: $colors, $key: black), .1 );
}
.ts {
    text-shadow: 0px 0px 4px #00000030;
}

@each $name, $color in $colors {
    .border-color-#{$name} {
        border-color: $color;
    }
}

.modal {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &-bg {
        cursor: pointer;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: .2);
    }
    &-body {
        box-shadow: 0 0 4px #00000050;
        position: absolute;
        background-color: white;
        border-radius: 4px;
        top: 10%;
        left: 35%;
        right: 35%;
    }
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.text-center {
    text-align: center;
}

input {
    padding: .5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000030;
    &:focus {
        border-color: map-get($colors, blue );
    }
}

button {
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid #999;
    cursor: pointer;
}

.font-cursive {
    font-family: cursive;
}

.cursor-pointer{
    cursor: pointer;
}