$sizing: (
    '03': .3rem,
    '05': .5rem,
    '08': .8rem,
    1: 1rem,
    12: 1.2rem,
    15: 1.5rem,
    2: 2rem,
    3: 3rem,
    4: 4rem,
    none: 0
);

$colors: (
    main-1: #364c9f,
    main-1-05: #364c9f50,
    main-2: #8BC34A, 
    main-3: #151515,

    instagram: #C13584,

    success: #26ae60,
    danger: #ff2400,
    warning: #fedc00,
    dark: #263337,
    light: #f4f2f1,
    blue: #4169e1,
    white: #fff,
    black: #000,
    purple: #a14189,

    light-1: #c1c1c1,
    light-2: #8a8a8a,
    gray: #333,
    orange: #FF4500
);

$width: (
    100: 100%,
    50: 50%
);

$border: 1px solid #000;