$sizing: (
    '03': .3rem,
    '05': .5rem,
    1: 1rem,
    15: 1.5rem,
    2: 2rem,
    4: 4rem,
    none: 0
);

$colors: (
    main-1: #364c9f, 
    main-2: #8BC34A, 
    main-3: #364c9f,
    success: rgb(112, 255, 83),
    dark: rgb(12, 12, 17),
    black: #000,
    blue: #364c9f,
    blue-1: #2a3e88,
    green: #8BC34A,
    dGreen: rgb(84, 122, 40),
    light: #f1f1f1,
    light-05: #f1f1f4,
    light-1: #c1c1c1,
    light-2: #8a8a8a,
    gray: #333,
    white: #fff,
    orange: orange,
    warning: rgb(255, 208, 55)
);

$width: (
    100: 100%,
    50: 50%
);

$border: 1px solid #000;