$col-sizing: (
    12: 100%,
    11: 91.6%,
    10: 83.3%,
    9: 75%,
    8: 66.6%,
    7: 58.3%,
    6: 50%,
    5: 41.6%,
    4: 33.3%,
    3: 25%,
    2: 16.6%,
    1: 8.33%
);

@each $name, $size in $col-sizing {
    .col-#{$name} {
        width: $size;
    }
}

.row {
    display: flex;
}

