@media(max-width: 1024px) {
    nav {
        grid-template-columns: 1fr 2fr 3fr 6fr;
        padding: .5rem 1rem;
    }

    .container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .publications{
        grid-template-columns: 1fr 1fr 1fr;
        
        .publication {
            margin: 1rem;
    
            .description {
                .footer {
                    .user {
                        .avatar {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .modal {
        &-body {
            right: 30%;
            left: 30%;
        }
    }

}